.vscode
env_setup_done
*.pth
owl_data
model_checkpoints/*
!model_checkpoints/__init__.py
__pycache__
exports/*
!exports/__init__.py
*.old.*
mdpi-template/*
!mdpi-template/Definitions
!mdpi-template/references.bib
!mdpi-template/*-part.tex